[Unit]
Description=Update hosts file
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash $HOME/.local/bin/gethosts

[Install]
WantedBy=default.target
